<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271843366719-60j4l586qto9epfsdqvl51ua8js366l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271843366719-60j4l586qto9epfsdqvl51ua8js366l1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>271843366719-79kjk30hob1jknpk3fganudaqu5n9ip3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGU0bMh1BPsqzqHteEnwqBgf3j1O9xVas</string>
	<key>GCM_SENDER_ID</key>
	<string>271843366719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bg.gservice</string>
	<key>PROJECT_ID</key>
	<string>g-service-11b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>g-service-11b4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:271843366719:ios:e2e01d1f882a4dcd61658a</string>
</dict>
</plist>
